SUPABASE_URL=https://kzyldwhzhgpubttlakrz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6eWxkd2h6aGdwdWJ0dGxha3J6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTA3NDg3NSwiZXhwIjoyMDk0NjUwODc1fQ.3AqoVMZ1GTfNoF2cx-sOqXpVSIYZL921GdOPZ8Z9RoQ
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6eWxkd2h6aGdwdWJ0dGxha3J6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwNzQ4NzUsImV4cCI6MjA5NDY1MDg3NX0.O9pjbzw_0aEKD6EkxJ0P7Urz1qpbOvkgRRW5H3gDZ5M
MAX_FILE_SIZE_MB=5
MODEL_NAME=MobileNetV2
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173

